extends layout

block content
  h1= title

  - let partid = toShow._id
  - let partName = toShow.part_name
  - let partSize = toShow.size
  - let partCost = toShow.cost
  if (toShow == null)
    h2 No instance to show
  else
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{partid}
    - let actionid = "/resource/parts/" + partid
    form(id='PartForm', action= actionid, method="PUT")
      div.form-group
          label.partAttr(for='partname') Part Name
          input.partsInput#partname(type='text', name='name', value= Name )
      div.form-group
          label.partAttr(for='size') Part Size
          input.partsInput#size(type='text', name='size', value= Size )
      div.form-group
          label.partAttr(for='cost') Part Cost
          input.partsInput#cost(type='number', name='cost', value= Cost )
      button(class="btn btn-primary m-2") Update

    script.
      document.forms['PartForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          console.log("sample")
          alert("Update failed " + error )
        });
      });