body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

.partAttr {
  width: 120px;
  }

.partsInput {
  background-color: #F0F0F0;
  width: 120px;
  }